<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.4
!pip install ipython-sql
!pip install pandas

Collecting sqlalchemy==1.4
  Downloading SQLAlchemy-1.4.0.tar.gz (7.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 83.3 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy==1.4) (3.0.3)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.4.0-cp311-cp311-linux_x86_64.whl size=1426270 sha256=9d69bde7352941e9bbfaf32c2d78fb0f228496501373869b6448db9475ae95fd
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/e7/3e/b3/548935d3cf563dd617440c661265370659ac5bb87086cc1593
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed sqlalchemy-1.4.0
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 102.0 MB/s eta 0:00:00
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.2/44.2 kB 6.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.36 sqlparse-0.5.1
Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 8.3 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 109.1 MB/s eta 0:00:0000:010:01
Downloading numpy-2.1.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.3/16.3 MB 112.4 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 35.6 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 tzdata-2024.2

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql PRAGMA table_info(SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [9]:
%sql Select distinct Launch_Site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [12]:
%sql Select * from SPACEXTABLE where Launch_Site = 'KSC LC-39A' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt'),
 ('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 ('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)'),
 ('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
%sql select distinct Customer from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('SpaceX',),
 ('NASA (COTS) NRO',),
 ('NASA (COTS)',),
 ('NASA (CRS)',),
 ('MDA',),
 ('SES',),
 ('Thaicom',),
 ('Orbcomm',),
 ('AsiaSat',),
 ('U.S. Air Force NASA NOAA',),
 ('ABS Eutelsat',),
 ('Turkmenistan National Space Agency',),
 ('NASA (LSP) NOAA CNES',),
 ('SKY Perfect JSAT Group',),
 ('Iridium Communications',),
 ('EchoStar',),
 ('NRO',),
 ('Inmarsat',),
 ('Bulsatcom',),
 ('Intelsat',),
 ('NSPO',),
 ('U.S. Air Force',),
 ('SES EchoStar',),
 ('KT Corporation',),
 ('Northrop Grumman',),
 ('Hisdesat exactEarth SpaceX',),
 ('Hispasat  NovaWurks',),
 ('NASA (LSP)',),
 ('Thales-Alenia/BTRC',),
 ('Iridium Communications GFZ ‚ NASA',),
 ('Telesat',),
 ('Telkom Indonesia',),
 ('CONAE',),
 ('Es hailSat',),
 ('Spaceflight Industries',),
 ('USAF',),
 ('PSN, SpaceIL / IAI',),
 ('NASA (CCD) ',),
 ('Canadian Space Agency (CSA)',),
 ('Spacecom',),
 ('NASA (CRS), Kacific 1',),
 ('Sky Perfect JSAT, Kacific 1',),
 ('NASA (CTS)',),
 ('NASA (CCDev)',),
 ('SpaceX, Planet Labs',),
 ('U.S. Space Force',),
 ('Republic of Korea Army, Spaceflight Industries (BlackSky)',),
 ('SpaceX, Spaceflight Industries (BlackSky), Planet Labs',),
 ('SpaceX, Planet Labs, PlanetIQ',),
 ('CONAE, PlanetIQ, SpaceX',),
 ('USSF',),
 ('NASA (CCP)',),
 ('NASA / NOAA / ESA / EUMETSAT',)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%sql select Avg(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [17]:
%sql select Date From SPACEXTABLE where landing_Outcome = 'Success (drone ship)'

 * sqlite:///my_data1.db
Done.

[('2016-04-08',),
 ('2016-05-06',),
 ('2016-05-27',),
 ('2016-08-14',),
 ('2017-01-14',),
 ('2017-03-30',),
 ('2017-06-23',),
 ('2017-06-25',),
 ('2017-08-24',),
 ('2017-10-09',),
 ('2017-10-11',),
 ('2017-10-30',),
 ('2018-04-18',),
 ('2018-05-11',)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [18]:
%sql select distinct landing_Outcome from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [20]:
%sql Select Mission_Outcome, Count(1) From SPACEXTABLE GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [21]:
%sql select Booster_version From SPACEXTABLE WHERE PAYLOAD_MASS__KG_=(select max(PAYLOAD_MASS__KG_) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [23]:
%sql select substr(date,6,2) as 'Month', Customer, Landing_Outcome, Booster_Version, Launch_Site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('06', 'SpaceX', 'Failure (parachute)', 'F9 v1.0  B0003', 'CCAFS LC-40'),
 ('12', 'NASA (COTS) NRO', 'Failure (parachute)', 'F9 v1.0  B0004', 'CCAFS LC-40'),
 ('05', 'NASA (COTS)', 'No attempt', 'F9 v1.0  B0005', 'CCAFS LC-40'),
 ('10', 'NASA (CRS)', 'No attempt', 'F9 v1.0  B0006', 'CCAFS LC-40'),
 ('03', 'NASA (CRS)', 'No attempt', 'F9 v1.0  B0007', 'CCAFS LC-40'),
 ('09', 'MDA', 'Uncontrolled (ocean)', 'F9 v1.1  B1003', 'VAFB SLC-4E'),
 ('12', 'SES', 'No attempt', 'F9 v1.1', 'CCAFS LC-40'),
 ('01', 'Thaicom', 'No attempt', 'F9 v1.1', 'CCAFS LC-40'),
 ('04', 'NASA (CRS)', 'Controlled (ocean)', 'F9 v1.1', 'CCAFS LC-40'),
 ('07', 'Orbcomm', 'Controlled (ocean)', 'F9 v1.1', 'CCAFS LC-40'),
 ('08', 'AsiaSat', 'No attempt', 'F9 v1.1', 'CCAFS LC-40'),
 ('09', 'AsiaSat', 'No attempt', 'F9 v1.1 B1011', 'CCAFS LC-40'),
 ('09', 'NASA (CRS)', 'Uncontrolled (ocean)', 'F9 v1.1 B1010', 'CCAFS LC-40'),
 ('01', 'NASA (CRS)', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('02', 'U.S. Air Force NASA NOAA', 'Controlled (ocean)', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('03', 'ABS Eutelsat', 'No attempt', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('04', 'NASA (CRS)', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('04', 'Turkmenistan National Space Agency', 'No attempt', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('06', 'NASA (CRS)', 'Precluded (drone ship)', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('12', 'Orbcomm', 'Success (ground pad)', 'F9 FT B1019', 'CCAFS LC-40'),
 ('01', 'NASA (LSP) NOAA CNES', 'Failure (drone ship)', 'F9 v1.1 B1017', 'VAFB SLC-4E'),
 ('03', 'SES', 'Failure (drone ship)', 'F9 FT B1020', 'CCAFS LC-40'),
 ('04', 'NASA (CRS)', 'Success (drone ship)', 'F9 FT B1021.1', 'CCAFS LC-40'),
 ('05', 'SKY Perfect JSAT Group', 'Success (drone ship)', 'F9 FT B1022', 'CCAFS LC-40'),
 ('05', 'Thaicom', 'Success (drone ship)', 'F9 FT B1023.1', 'CCAFS LC-40'),
 ('06', 'ABS Eutelsat', 'Failure (drone ship)', 'F9 FT B1024', 'CCAFS LC-40'),
 ('07', 'NASA (CRS)', 'Success (ground pad)', 'F9 FT B1025.1', 'CCAFS LC-40'),
 ('08', 'SKY Perfect JSAT Group', 'Success (drone ship)', 'F9 FT B1026', 'CCAFS LC-40'),
 ('01', 'Iridium Communications', 'Success (drone ship)', 'F9 FT B1029.1', 'VAFB SLC-4E'),
 ('02', 'NASA (CRS)', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('03', 'EchoStar', 'No attempt', 'F9 FT B1030', 'KSC LC-39A'),
 ('03', 'SES', 'Success (drone ship)', 'F9 FT  B1021.2', 'KSC LC-39A'),
 ('05', 'NRO', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('05', 'Inmarsat', 'No attempt', 'F9 FT B1034', 'KSC LC-39A'),
 ('06', 'NASA (CRS)', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('06', 'Bulsatcom', 'Success (drone ship)', 'F9 FT  B1029.2', 'KSC LC-39A'),
 ('06', 'Iridium Communications', 'Success (drone ship)', 'F9 FT B1036.1', 'VAFB SLC-4E'),
 ('07', 'Intelsat', 'No attempt', 'F9 FT B1037', 'KSC LC-39A'),
 ('08', 'NASA (CRS)', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('08', 'NSPO', 'Success (drone ship)', 'F9 FT B1038.1', 'VAFB SLC-4E'),
 ('09', 'U.S. Air Force', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('10', 'Iridium Communications', 'Success (drone ship)', 'F9 B4 B1041.1', 'VAFB SLC-4E'),
 ('10', 'SES EchoStar', 'Success (drone ship)', 'F9 FT  B1031.2', 'KSC LC-39A'),
 ('10', 'KT Corporation', 'Success (drone ship)', 'F9 B4 B1042.1', 'KSC LC-39A'),
 ('12', 'NASA (CRS)', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40'),
 ('12', 'Iridium Communications', 'Controlled (ocean)', 'F9 FT  B1036.2', 'VAFB SLC-4E'),
 ('01', 'Northrop Grumman', 'Success (ground pad)', 'F9 B4 B1043.1', 'CCAFS SLC-40'),
 ('01', 'SES', 'Controlled (ocean)', 'F9 FT  B1032.2', 'CCAFS SLC-40'),
 ('02', 'Hisdesat exactEarth SpaceX', 'No attempt', 'F9 FT  B1038.2', 'VAFB SLC-4E'),
 ('03', 'Hispasat  NovaWurks', 'No attempt', 'F9 B4 B1044', 'CCAFS SLC-40'),
 ('03', 'Iridium Communications', 'No attempt', 'F9 B4  B1041.2', 'VAFB SLC-4E'),
 ('04', 'NASA (CRS)', 'No attempt', 'F9 B4  B1039.2', 'CCAFS SLC-40'),
 ('04', 'NASA (LSP)', 'Success (drone ship)', 'F9 B4 B1045.1', 'CCAFS SLC-40'),
 ('05', 'Thales-Alenia/BTRC', 'Success (drone ship)', 'F9 B5  B1046.1', 'KSC LC-39A'),
 ('05', 'Iridium Communications GFZ ‚ NASA', 'No attempt', 'F9 B4  B1043.2', 'VAFB SLC-4E'),
 ('06', 'SES', 'No attempt', 'F9 B4  B1040.2', 'CCAFS SLC-40'),
 ('06', 'NASA (CRS)', 'No attempt', 'F9 B4 B1045.2', 'CCAFS SLC-40'),
 ('07', 'Telesat', 'Success', 'F9 B5B1047.1', 'CCAFS SLC-40'),
 ('07', 'Iridium Communications', 'Success', 'F9 B5B1048.1', 'VAFB SLC-4E'),
 ('08', 'Telkom Indonesia', 'Success', 'F9 B5 B1046.2', 'CCAFS SLC-40'),
 ('09', 'Telesat', 'Success', 'F9 B5B1049.1', 'CCAFS SLC-40'),
 ('10', 'CONAE', 'Success', 'F9 B5 B1048.2', 'VAFB SLC-4E'),
 ('11', 'Es hailSat', 'Success', 'F9 B5 B1047.2', 'KSC LC-39A'),
 ('12', 'Spaceflight Industries', 'Success', 'F9 B5 B1046.3', 'VAFB SLC-4E'),
 ('12', 'NASA (CRS)', 'Failure', 'F9 B5B1050', 'CCAFS SLC-40'),
 ('12', 'USAF', 'No attempt', 'F9 B5B1054', 'CCAFS SLC-40'),
 ('01', 'Iridium Communications', 'Success', 'F9 B5 B1049.2', 'VAFB SLC-4E'),
 ('02', 'PSN, SpaceIL / IAI', 'Success', 'F9 B5 B1048.3', 'CCAFS SLC-40'),
 ('03', 'NASA (CCD) ', 'Success', 'F9 B5B1051.1', 'KSC LC-39A'),
 ('05', 'NASA (CRS)', 'Success', 'F9 B5B1056.1 ', 'CCAFS SLC-40'),
 ('05', 'SpaceX', 'Success', 'F9 B5 B1049.3', 'CCAFS SLC-40'),
 ('06', 'Canadian Space Agency (CSA)', 'Success', 'F9 B5 B1051.2 ', 'VAFB SLC-4E'),
 ('07', 'NASA (CRS)', 'Success', 'F9 B5 B1056.2 ', 'CCAFS SLC-40'),
 ('08', 'Spacecom', 'No attempt ', 'F9 B5 B1047.3 ', 'CCAFS SLC-40'),
 ('11', 'SpaceX', 'Success', 'F9 B5 B1048.4', 'CCAFS SLC-40'),
 ('12', 'NASA (CRS), Kacific 1', 'Success', 'F9 B5B1059.1', 'CCAFS SLC-40'),
 ('12', 'Sky Perfect JSAT, Kacific 1', 'Success', 'F9 B5 B1056.3 ', 'CCAFS SLC-40'),
 ('01', 'SpaceX', 'Success', 'F9 B5 B1049.4', 'CCAFS SLC-40'),
 ('01', 'NASA (CTS)', 'No attempt', 'F9 B5 B1046.4', 'KSC LC-39A'),
 ('01', 'SpaceX', 'Success', 'F9 B5 B1051.3', 'CCAFS SLC-40'),
 ('02', 'SpaceX', 'Failure', 'F9 B5 B1056.4', 'CCAFS SLC-40'),
 ('03', 'NASA (CRS)', 'Success', 'F9 B5 B1059.2', 'CCAFS SLC-40'),
 ('03', 'SpaceX', 'Failure', 'F9 B5 B1048.5', 'KSC LC-39A'),
 ('04', 'SpaceX', 'Success', 'F9 B5 B1051.4', 'KSC LC-39A'),
 ('05', 'NASA (CCDev)', 'Success', 'F9 B5B1058.1 ', 'KSC LC-39A'),
 ('06', 'SpaceX, Planet Labs', 'Success', 'F9 B5 B1049.5', 'CCAFS SLC-40'),
 ('06', 'SpaceX, Planet Labs', 'Success', 'F9 B5 B1059.3', 'CCAFS SLC-40'),
 ('06', 'U.S. Space Force', 'Success', 'F9 B5B1060.1', 'CCAFS SLC-40'),
 ('07', 'Republic of Korea Army, Spaceflight Industries (BlackSky)', 'Success', 'F9 B5 B1058.2 ', 'CCAFS SLC-40'),
 ('08', 'SpaceX, Spaceflight Industries (BlackSky), Planet Labs', 'Success', 'F9 B5 B1051.5', 'KSC LC-39A'),
 ('08', 'SpaceX, Planet Labs, PlanetIQ', 'Success', 'F9 B5 B1049.6', 'CCAFS SLC-40'),
 ('08', 'CONAE, PlanetIQ, SpaceX', 'Success', 'F9 B5 B1059.4', 'CCAFS SLC-40'),
 ('09', 'SpaceX', 'Success', 'F9 B5 B1060.2 ', 'KSC LC-39A'),
 ('10', 'SpaceX', 'Success', 'F9 B5 B1058.3 ', 'KSC LC-39A'),
 ('10', 'SpaceX', 'Success', 'F9 B5 B1051.6', 'KSC LC-39A'),
 ('10', 'SpaceX', 'Success', 'F9 B5 B1060.3', 'CCAFS SLC-40'),
 ('11', 'USSF', 'Success', 'F9 B5B1062.1', 'CCAFS SLC-40'),
 ('11', 'NASA (CCP)', 'Success', 'F9 B5B1061.1 ', 'KSC LC-39A'),
 ('11', 'NASA / NOAA / ESA / EUMETSAT', 'Success', 'F9 B5B1063.1', 'VAFB SLC-4E'),
 ('11', 'SpaceX', 'Success', 'F9 B5 B1049.7 ', 'CCAFS SLC-40'),
 ('12', 'NASA (CRS)', 'Success', 'F9 B5 B1058.4 ', 'KSC LC-39A')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [25]:

%sql select RANK() OVER(ORDER BY counter DESC) AS rank, landing_Outcome, counter from (select landing_Outcome, COUNT(1) AS 'counter' FROM SPACEXTABLE where Date BETWEEN '2010-06-04' and '2017-03-20' group by landing_Outcome

 * sqlite:///my_data1.db
(sqlite3.OperationalError) incomplete input
[SQL: select RANK() OVER(ORDER BY counter DESC) AS rank, landing_Outcome, counter from (select landing_Outcome, COUNT(1) AS 'counter' FROM SPACEXTABLE where Date BETWEEN '2010-06-04' and '2017-03-20' group by landing_Outcome]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>